@charset "UTF-8";
@keyframes _common_bganimation_1lren_1 {
    0% {
        background-position-x: 125%
    }
    to {
        background-position-x: -32%
    }
}

._forceChangePasswordDialog_1lren_25 ._forceChangePassword_1lren_25 {
    width: 100%
}

._forceChangePasswordDialog_1lren_25 ._forceChangePassword_1lren_25 ._title_1lren_28 {
    font-weight: 400;
    font-size: .3rem;
    padding: .2rem 0 .3rem;
    text-align: center;
    color: var(--skin__lead)
}

._forceChangePasswordDialog_1lren_25 ._forceChangePassword_1lren_25 ._desc_1lren_35 {
    font-size: .18rem;
    color: var(--skin__neutral_2)
}

._forceChangePasswordDialog_1lren_25 ._forceChangePassword_1lren_25 ._submit_1lren_39 {
    padding-top: .4rem
}