@charset "UTF-8";
@keyframes _common_bganimation_91gem_1 {
    0% {
        background-position-x: 125%
    }
    to {
        background-position-x: -32%
    }
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25,
._passStrengthCheck_91gem_25 ._strengthCheck_91gem_26 {
    display: flex;
    align-items: center;
    margin-bottom: .12rem
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25:last-child,
._passStrengthCheck_91gem_25 ._strengthCheck_91gem_26:last-child {
    margin-bottom: .2rem
}

._passStrengthCheck_91gem_25 ._icon_91gem_35 {
    width: .2rem;
    height: .2rem
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25 span {
    margin-right: .1rem;
    color: var(--skin__lead);
    font-size: .22rem;
    transition: all .3s
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25 span:not(:lang(zh)):not(:lang(zh_hk)) {
    line-height: 1
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25 ._colorLump_91gem_48 {
    height: .12rem;
    background-color: var(--skin__border);
    border-radius: .12rem
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25 ._default_91gem_53 {
    width: .8rem
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25 ._large_91gem_56 {
    width: .9rem
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25 ._colorLump1_91gem_59 {
    background-color: var(--skin__accent_2)
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25 ._colorLump2_91gem_62 {
    background-color: var(--skin__accent_3)
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25 ._colorLump3_91gem_65 {
    background-color: var(--skin__primary)
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25 ._colorLump4_91gem_68 {
    background-color: var(--skin__accent_1)
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25 ._digit_91gem_71 {
    display: flex;
    align-items: center;
    color: var(--skin_neutral_2);
    font-size: .18rem
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25 ._digit_91gem_71._digitError_91gem_77 {
    color: var(--skin_accent_2)
}

._passStrengthCheck_91gem_25 ._cryptographicStrength_91gem_25 ._digit_91gem_71._digitError_91gem_77 ._icon_91gem_35 {
    margin-right: .09rem;
    background-color: var(--skin__accent_2);
    border-radius: .14rem
}

._passStrengthCheck_91gem_25 ._strengthCheck_91gem_26>div {
    display: flex;
    align-items: center;
    margin-right: .3rem;
    color: var(--skin__accent_2);
    font-size: .18rem
}

._passStrengthCheck_91gem_25 ._strengthCheck_91gem_26>div span {
    flex: 1;
    max-width: .95rem;
    word-wrap: break-word;
    transition: all .3s
}

._passStrengthCheck_91gem_25 ._strengthCheck_91gem_26>div span:not(:lang(zh_hk)):not(:lang(zh_hk)) {
    line-height: 1
}

._passStrengthCheck_91gem_25 ._strengthCheck_91gem_26>div ._icon_91gem_35 {
    margin-right: .09rem;
    background-color: var(--skin__accent_2);
    border-radius: .14rem
}

._passStrengthCheck_91gem_25 ._strengthCheck_91gem_26 ._satisfy_91gem_106 span {
    color: var(--skin__lead)
}

._passStrengthCheck_91gem_25 ._strengthCheck_91gem_26 ._satisfy_91gem_106 ._icon_91gem_35 {
    background-color: var(--skin__accent_1)
}