@charset "UTF-8";
@keyframes common_bganimation {
    0% {
        background-position-x: 125%
    }
    to {
        background-position-x: -32%
    }
}

.ui-progress {
    position: relative;
    height: .2rem;
    background: var(--skin__neutral_3);
    border-radius: .2rem;
    overflow: hidden
}

.ui-progress__portion {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--skin__primary);
    border-radius: inherit;
    transform-origin: 0;
    transition: all .3s
}

.ui-progress__portion--inactive {
    background: var(--skin__neutral_3)
}

.ui-progress__text {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    color: #fff;
    height: .2rem;
    line-height: .2rem;
    font-size: .2rem;
    text-align: center;
    word-break: keep-all;
    white-space: nowrap
}